body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

h1 {
    display: none; /* Escondido para seguir o layout da imagem */
}

header {
    background-color: #062b56;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.container h2 {
    color: #062b56;
    margin-bottom: 25px;
}

a.button {
    display: inline-block;
    background-color: #062b56;
    color: white;
    padding: 12px 20px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 25px;
    box-shadow: 0 3px 0 #021931;
}

a.button:hover {
    background-color: #0a3975;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    font-weight: bold;
    color: #333;
}

li a {
    text-decoration: none;
    color: #000;
}

li span {
    color: #0077b6;
    font-weight: normal;
}

a.logout {
    display: inline-block;
    margin-top: 30px;
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 3px 0 #c0392b;
}

a.logout:hover {
    background-color: #c0392b;
}

