<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Cuidador</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/cadastro_cuidador.css">
</head>
<body>
    <h1>Cadastro de Cuidador</h1>
    <form id="cadastro-form">
        Nome: <input type="text" name="nome" id="nome" required><br>
        E-mail: <input type="email" name="email" id="email" required><br>
        Senha: <input type="password" name="senha" id="senha" required><br>
        <button type="submit">Cadastrar</button>
        <a href="login.html"></a>
    </form>

    <p id="mensagem"></p>

    <script src="js/cadastro_cuidador.js"></script>
</body>
</html>