<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
    <header>
        <img src="img/Remory.png" alt="Remory Logo" height="70">
    </header>

    <div class="container">
        <h1>Pacientes do Cuidador</h1>

        <a href="{{ url_for('form') }}" class="button">Cadastrar Novo Paciente</a>

        <ul>
            {% for paciente in pacientes %}
            <li>
                <a href="{{ url_for('detalhes_pacientes', id=paciente.id) }}">
                    ({{ paciente.nome }})
                </a>
                <span>(Nascimento: {{ paciente.data_nasc.strftime('%d/%m/%Y') }})</span>
            </li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('logout') }}" class="logout">Sair</a>
    </div>
</body>
</html>
