<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <meta charset="UTF-8">
</head>
<body>
    <header>
        <img src="img/Remory.png" alt="Remory Logo" height="70">
    </header>

    <div class="container">
        <h1>Pacientes do Cuidador</h1>
        <a href="cadastro_paciente.html" class="button">Cadastrar Novo Paciente</a>

        <ul id="lista-pacientes"></ul>

        <a href="#" id="logout" class="logout">Sair</a>
        
        <p id="mensagem"></p>
    </div>
    <script src="js/dashboard.js"></script>
</body>
</html>
