<!DOCTYPE html>
<html>

<head>
    <title>Login Cuidador</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <form id="login-form">
        <h1>Login</h1>
        Email: <input type="text" name="email" id="email"><br>
        Senha: <input type="password" name="senha" id="senha"><br>
        <button type="submit">Entrar</button>
        <a href="cadastro_cuidador.html">Cadastre-se</a>
        <p><a href="esqueci_senha.html" class="link-esqueceu-senha">Esqueceu sua senha?</a></p>

    </form>
    <p id="mensagem"></p>

    <script src="js/login.js"></script>
</body>

</html>